@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.9);
	/* background-color: #ffffff; */
	background-color: #f7f7f7;

	letter-spacing: -0.018rem;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
}

.intro-circle {
	width: 120px;
	height: 120px;
	background: #daf2ea;
	opacity: 0.9 !important;
	border-radius: 9999px;
	position: absolute;
}

.expand {
	animation: expandCircle 500ms ease-out forwards;
}

.fade-out {
	animation: fadeOut 200ms ease-out forwards;
}

@keyframes expandCircle {
	0% {
		transform: scale(0);
		opacity: 1;
	}

	100% {
		transform: scale(25);
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes pulseOnce {
	0% {
		transform: scale(0.6);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

.animate-pulseOnce {
	animation: pulseOnce 500ms ease-out;
}
