input
    background-color: #FFFFFF
    border: 1px solid #e5e7eb
    border-radius: 10rem
    outline: none
    padding: 10px
    padding-left: 15px
    padding-right: 15px
    width: 100%
    font-size: 14px

textarea
    background-color: #FFFFFF
    border: 1px solid #e5e7eb

input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill
    -webkit-box-shadow: 0 0 0px 1000px #e5e7eb inset !important
    box-shadow: 0 0 0px 1000px #fff inset !important

    -webkit-text-fill-color: #000000 !important
    caret-color: #000000 !important

    transition: background-color 9999s ease-in-out 0s
